/*Reset no CSS padrão do browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FAFAFA;
}

/*CONTAINERS*/
.main-container {
    display: flex;
    margin-top: 30px;
}

#banner-container,
#form-container {
    flex: 1 1 0;
    width: 50%;
}

#banner-container {
    text-align: right; /*Alinha a imagem a direita*/
}

#banner-container img {
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
}

#form-container {
    text-align: center;
}

/*LOGIN FORM*/
#form-box {
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 30px;
}

#logo-insta {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px; /*top: 30px laterais: auto bot: 12px*/
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"] {
    background-color: #B2DFFC;
    color: #FFF;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

/*SEPARATOR*/
.separator {
    position: relative;
}

.line {
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px;
}

.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #BBB;
    top: -6px;
    height: 30px;
    width: 50px;
    background-color: #FFF;
    margin-left: -25px;
    font-size: 15px;
}

/*FACEBOOK-LOGIN*/
#facebook-login {
    margin-bottom: 25px;
}

#facebook-login a {
    text-decoration: none; /*Tira o sublinhado do link*/
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook-login img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#facebook-login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

/*FORGOT PASSWORD*/
#forgot-pass {
    margin-bottom: 20px;
    font-size: 12px;
}

#forgot-pass a {
    text-decoration: none;
    color: #373799;
}

/*REGISTER*/
#register-container {
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
}

#register-container p {
    font-size: 14px;
    color: #262626;
}

#register-container a {
    text-decoration: none;
    font-weight: bold;
    color: #4A95F6;
}

/*GET APP*/
#get-app-container {
    text-align: center;
    width: 350px;
}

#get-app-container p {
    margin: 25px 0;
    font-size: 13px;
    color: #262626;
}

#get-app-container img {
    width: 136px;
    height: 40px;
    padding: 0 2px;
}

/*RODAPÉ*/
footer {
    text-align: left;
    width: 1000px;
    margin: 50px auto; /*Centraliza a largura*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #footer-links {
    display: flex;
    list-style: none;
}

#footer-links li {
    margin-right: 10px;
}

#footer-links a,
#copyright {
    text-decoration: none;
    color: #8E8E8E;
    font-size: 12px;
}

#copyright {
    margin-top: 10px;
    text-align: center;
}

/*RESPONSIVE*/
@media (max-width: 450px) {
    body {
        background-color: #FFF;
    }

    /*Imagem do celular irá sumir*/
    #banner-container {
        display: none;
    }

    .main-container,
    #form-box {
        margin-top: 0px;
    }

    /*Faz com que o formulário ocupe toda a largura e retira sua borda*/
    #form-container,
    #form-box,
    #register-container,
    #get-app-container {
        width: 100%;
        border: none;
    }

    /*Nosso footer passa a ocupar 90% da largura*/
    footer {
        width: 90%
    }

    #footer-links {
        flex-wrap: wrap; /*Põem os items de footer um abaixo do outro, ao invés de gerar scroll horizontal*/
        justify-content: center;        
        margin-bottom: 10px;
    }
}